/* Vertical Accordion Style */
.va-container{
	position:relative;
	margin:40px auto 0 auto;
}
.va-wrapper{
	height:100%;
	position:relative;
	overflow:hidden;
	background:#000;
	width: inherit;
}
.va-slice{
	cursor:pointer;
	position:absolute;
	width:100%;
	left:0px;
	overflow:auto;
	opacity: 1;
	color: #000;
}

.va-slice:hover{
}

.va-slice-1{
	background-color:#ddd;
}
.va-slice-2{
	background-color:#ccc;
}
.va-slice-3{
	background-color:#bbb;
}
.va-slice-4{
	background-color:#aaa;
}
.va-slice-5{
	/*background:#000 url(../images/5.jpg) no-repeat center center;*/
	background-color:#999;
}

.va-title{
	font-family: 'PT Sans Narrow', sans-serif;
	font-size:30px;
	text-transform: uppercase;
	margin-left:20px;
	display: inline-block;
}

.light{
	color:#eee;
}

.dark{
	color:#222;
}

.right-align {
	text-align: right;
	margin-right: 20px;
}

.left-align {
	text-align: left;
}

.va-content{
	display:none;
	margin-left:25px;
}
.va-slice p{
	color: #222;
	font-size: 1.3em;
	padding-right: 30px;
}
.va-slice ul{
	margin-top:20px;
}
.va-slice ul li{
	float:left;
	margin:0px 2px;
}
.va-slice ul li a{
	width: auto;
	color: #fff;
	text-transform: uppercase;
	font-family:'PT Sans Narrow', sans-serif;
	font-size: 20px;
	padding: 7px;
	border-radius: 4px;
	background: #f00;
	float: right;
	color: #eee;
	background: #0b1647;
	text-decoration: none;
}
.va-slice ul li a:hover{
	background:#000;
	color:#fff;
	text-shadow:none;
}
.va-nav span{
	width:40px;
	height:25px;
	background:transparent url(../images/prev.png) no-repeat center center;
	position:absolute;
	top:-35px;
	left:50%;
	margin-left:-20px;
	text-indent:-9000px;
	opacity:0.7;
	cursor:pointer;
	display:none;
	z-index:100;
}
.va-nav span.va-nav-next{
	background-image:url(../images/next.png);
	top:auto;
	bottom:-35px;
}
.va-nav span:hover{
	opacity:1.0;
}

.tag{
	display: inline-block;
	width: auto;
	color: #fff;
	margin-right: 30px;
	margin-top: 8%;
	text-transform: uppercase;
	font-family:'PT Sans Narrow', sans-serif;
	font-size: 20px;
	padding: 7px;
	border-radius: 4px;
	background: #f00;
	float: right;
}

.web{
	color: #eee;
	background: #660224;
}

.personal{
	color: #eee;
	background: #399e71;
}

.team{
	color: #eee;
	background: #8f4c28;
}

.research{
	color: #eee;
	background: #bd20ba;
}